.contenedor_texto{
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
    width: 620px;
    height: 220px;
    background-color: palevioletred;
    border-radius: 12px;
}

.titulo1{
   padding-top: 20px;
   color: white;
}

.texto1{
    font-weight: 600;
    color: white;
    padding: 15px;
}